/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.Tem.2016, 20:18:12
    Author     : fknsa
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.Tem.2016, 20:21:27
    Author     : fknsa
*/
body {
  font-family: 'Open Sans';
  font-style: normal; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.Tem.2016, 20:20:49
    Author     : fknsa
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 8:44:23 PM
    Author     : fknsa
*/
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  border-top: 3px solid #f70e0e;
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  @media all and (max-width: 959px) {
    html ::-webkit-scrollbar, body ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #f70e0e; }
    html ::-webkit-scrollbar-button:vertical:increment, body ::-webkit-scrollbar-button:vertical:increment {
      background: #f70e0e; }
    html ::-webkit-scrollbar-button:vertical:decrement, body ::-webkit-scrollbar-button:vertical:decrement {
      background: #4a4732; }
    html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
      background: white;
      height: 5px; } }

.website {
  min-height: 100%;
  position: relative; }

footer {
  position: absolute;
  width: 100%;
  margin-top: 80px; }

.container {
  width: 960px;
  margin: 0 auto; }
  @media all and (max-width: 959px) {
    .container {
      width: 100%; } }

.row {
  width: 100%; }

.clearFix {
  clear: both; }

.mobile-3 {
  float: left;
  width: 33%; }
  @media all and (max-width: 959px) {
    .mobile-3 {
      width: 100%; } }

.mobile-2 {
  width: 50%;
  box-sizing: border-box; }
  @media all and (max-width: 959px) {
    .mobile-2 {
      width: 100%; } }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 8:54:35 PM
    Author     : fknsa
*/
.mainNav {
  width: 100%;
  font-size: 75%;
  min-height: 80px;
  background-color: white;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 35px 0 0 0;
  text-align: center; }
  @media all and (max-width: 959px) {
    .mainNav {
      padding: 20px 0; } }
  .mainNav .logo {
    width: 100%;
    top: 0px;
    background: url(../img/logo.png) no-repeat center;
    background-clip: scroll;
    height: 62px; }
    @media all and (max-width: 959px) {
      .mainNav .logo {
        background: url(../img/logo.png) no-repeat center;
        top: 0;
        position: relative;
        width: 100%; } }
    @media all and (max-width: 320px) {
      .mainNav .logo {
        background: url(../img/logomobilemini.png) no-repeat center;
        top: 0;
        position: relative;
        width: 100%; } }
  .mainNav ul {
    margin-top: 25px;
    list-style: none;
    display: inline-block; }
    @media all and (max-width: 959px) {
      .mainNav ul {
        display: none; } }
    .mainNav ul .active:after {
      content: "";
      position: absolute;
      top: 75%;
      left: 0;
      width: 100%;
      opacity: 1;
      border-bottom: 3.5px solid #f70e0e; }
    .mainNav ul li:after {
      content: "";
      position: absolute;
      top: 75%;
      left: 40%;
      opacity: 0;
      width: 20%;
      border-bottom: 3.5px solid #f70e0e;
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      -ms-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s; }
    .mainNav ul li:hover:after {
      opacity: 1;
      left: 0;
      width: 100%; }
    .mainNav ul li {
      position: relative;
      float: left;
      margin: 0 15px;
      min-height: 35px; }
      .mainNav ul li a {
        color: #4a4732;
        text-decoration: none;
        line-height: 28px; }
        .mainNav ul li a:hover {
          color: #f70e0e !important; }
        .mainNav ul li a img {
          margin-right: 5px;
          width: 17px;
          height: auto; }
      .mainNav ul li .dropDownMenu {
        z-index: 99;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        border: 1px solid #f5f0f0;
        background: white; }
        .mainNav ul li .dropDownMenu li:hover:after {
          display: none; }
        .mainNav ul li .dropDownMenu li {
          min-width: 275px;
          padding: 0;
          margin: 0;
          text-align: left; }
          .mainNav ul li .dropDownMenu li a {
            position: relative;
            padding: 12px 25px;
            line-height: 100%;
            display: block;
            left: 0;
            transition: all 0.5s; }
          .mainNav ul li .dropDownMenu li:hover {
            background: #f2f2f2; }
            .mainNav ul li .dropDownMenu li:hover a {
              left: 5px;
              color: #f70e0e; }
      .mainNav ul li:hover > .dropDownMenu {
        display: block; }
  .mainNav .langMenu {
    float: right; }
    .mainNav .langMenu ul {
      margin: 5px 0; }
      .mainNav .langMenu ul li {
        margin-left: 0; }
        .mainNav .langMenu ul li:first-child:after {
          content: "|";
          color: #4a4732;
          position: relative;
          top: 0;
          left: 5px;
          font-size: 110%; }
        .mainNav .langMenu ul li:nth-child(2):after {
          content: "|";
          color: #4a4732;
          position: relative;
          top: 0;
          left: 5px;
          font-size: 110%; }
        .mainNav .langMenu ul li a {
          font-weight: 700;
          font-size: 110%;
          color: #4a4732; }
          .mainNav .langMenu ul li a:hover {
            color: #a19b74; }

.mobileMenuButton {
  position: fixed;
  display: none;
  z-index: 99;
  background: #f70e0e;
  border: none;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: 600;
  top: 110px;
  right: 15px; }
  .mobileMenuButton:hover {
    background: #b30606; }
  .mobileMenuButton i {
    font-weight: normal;
    font-size: 100%;
    margin-right: 5px; }
  @media all and (max-width: 959px) {
    .mobileMenuButton {
      display: block; } }

.mobileNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  right: 120px;
  font-size: 75%;
  min-height: 80px;
  background-color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll; }
  .mobileNav ul {
    padding: 0;
    margin: 0; }
    .mobileNav ul li {
      position: relative; }
      .mobileNav ul li a {
        color: #4a4732;
        text-decoration: none;
        display: block;
        position: relative;
        line-height: 350%;
        padding: 0 25px; }
        .mobileNav ul li a:hover {
          background: #f2f2f2; }
        .mobileNav ul li a img {
          width: 25px;
          margin-right: 5px; }
      .mobileNav ul li .dropDownMenu {
        z-index: 99;
        display: none;
        position: relative;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0; }
        .mobileNav ul li .dropDownMenu li:hover:after {
          display: none; }
        .mobileNav ul li .dropDownMenu li {
          padding: 0;
          margin: 0;
          text-align: left;
          width: auto; }
          .mobileNav ul li .dropDownMenu li a {
            position: relative;
            padding: 12px 50px;
            line-height: 100%;
            display: block;
            left: 0;
            transition: all 0.5s; }
          .mobileNav ul li .dropDownMenu li:hover {
            background: #f2f2f2; }
            .mobileNav ul li .dropDownMenu li:hover a {
              left: 5px;
              color: #a19b74; }

.aboutUs {
  position: relative;
  margin-top: 30px; }
  @media all and (max-width: 959px) {
    .aboutUs {
      margin-top: 0; } }
  .aboutUs .container {
    background: #f8f8f8;
    padding: 60px 100px;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12); }
    @media all and (max-width: 959px) {
      .aboutUs .container {
        padding: 30px 25px;
        background: #fafafa;
        box-shadow: none;
        border-bottom: 5px solid #f5f0f0;
        border-top: 5px solid #f5f0f0; } }
  .aboutUs h1 {
    position: relative;
    font-family: 'Playfair Display';
    color: #777;
    font-weight: 400;
    font-size: 130%;
    line-height: 160%;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.1em; }
    .aboutUs h1:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 38%;
      width: 25%;
      border-bottom: 1.5px dashed #999; }
      @media all and (max-width: 959px) {
        .aboutUs h1:after {
          width: 60%;
          left: 20%; } }
  .aboutUs p {
    padding: 0;
    text-indent: 5%;
    font-family: inherit;
    font-weight: 300;
    font-size: 100%;
    line-height: 180%;
    text-align: left;
    color: #666;
    letter-spacing: 0.03em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2016, 4:47:47 AM
    Author     : fknsa
*/
footer {
  background: #222222;
  border-top: 5px solid #f70e0e;
  margin-top: 50px; }
  footer .footerInner {
    height: 100%;
    color: #888;
    font-size: 75%;
    font-weight: 500;
    padding: 20px 0; }
    @media all and (max-width: 959px) {
      footer .footerInner {
        padding: 15px 0; } }
    footer .footerInner span {
      font-weight: 700; }
    footer .footerInner address {
      float: left;
      line-height: 250%;
      font-weight: 600;
      font-style: normal; }
      @media all and (max-width: 959px) {
        footer .footerInner address {
          padding: 0 20px; } }
      footer .footerInner address i {
        font-size: 160%;
        margin-right: 5px; }
      footer .footerInner address a {
        color: inherit;
        text-decoration: none; }
    footer .footerInner img {
      border-radius: 3px;
      float: right; }
      @media all and (max-width: 959px) {
        footer .footerInner img {
          max-width: 100%;
          height: auto;
          margin: 10px 0;
          border-radius: 0; } }
    footer .footerInner .rights {
      float: right;
      padding: 0;
      margin-bottom: 20px;
      font-weight: 600; }
      @media all and (max-width: 959px) {
        footer .footerInner .rights {
          width: 100%;
          text-align: center; } }

.contact {
  position: relative;
  margin-top: 30px;
  width: 100%;
  display: inline-block;
  text-align: center; }

@media all and (max-width: 959px) {
  .contact {
    margin-top: 0; } }
.contact .container {
  background: #f8f8f8;
  padding: 60px 0;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
  display: inline-block;
  box-sizing: border-box; }

@media all and (max-width: 959px) {
  .contact .container {
    padding: 30px 25px;
    background: #fafafa;
    box-shadow: none;
    border-bottom: 5px solid #f5f0f0;
    border-top: 5px solid #f5f0f0; } }
.contact h1 {
  position: relative;
  font-family: 'Playfair Display';
  color: #777;
  font-weight: 400;
  font-size: 130%;
  line-height: 160%;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.1em; }

.contact h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 38%;
  width: 25%;
  border-bottom: 1.5px dashed #999; }

@media all and (max-width: 959px) {
  .contact h1:after {
    width: 60%;
    left: 20%; } }
.contact h2 {
  font-size: 110%;
  padding: 10px 30px;
  margin: 30px 20px;
  text-align: left;
  font-family: 'Playfair Display';
  font-weight: 300;
  color: #888;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #eee;
  border: 1px solid #ddd; }

@media all and (max-width: 959px) {
  .contact h2 {
    margin: 30px 0; } }
.contact address {
  text-align: left;
  line-height: 200%;
  color: #666;
  font-style: normal;
  font-size: 90%; }

.contact address span {
  font-weight: 600; }

.contact address i {
  margin-right: 5px; }

.contact address a {
  text-decoration: none;
  color: #666; }

.contact iframe {
  width: 100%;
  height: 250px; }

@media all and (max-width: 959px) {
  .contact iframe {
    margin-top: 20px;
    width: 100%;
    height: auto !important; } }
.contact p {
  margin: 0;
  padding: 0;
  text-indent: 5%;
  font-family: inherit;
  font-weight: 300;
  font-size: 100%;
  line-height: 180%;
  text-align: left;
  color: #666;
  letter-spacing: 0.03em; }

.contact .mobile-2 {
  float: left;
  padding: 0 30px;
  box-sizing: border-box; }

@media all and (max-width: 959px) {
  .contact .mobile-2 {
    padding: 0 20px; } }
.shopContact {
  width: 100%;
  float: left;
  margin-bottom: 30px; }

.writeToUs {
  box-sizing: border-box;
  width: 100%;
  float: left; }

.writeToUs form {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  text-align: left;
  font-style: 'Open Sans';
  font-size: 90%;
  font-weight: 600;
  color: #666;
  line-height: 220%; }

.writeToUs form input:focus {
  padding-left: 10px;
  outline-color: #f70e0e;
  outline-width: 2px;
  outline-offset: 2px; }

.writeToUs form input, .writeToUs form textarea {
  margin-bottom: 20px;
  width: 100%;
  background: #f8f8f8;
  border: none;
  border-bottom: 2px solid #f70e0e;
  padding: 5px 0;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #666; }

.writeToUs form input[type='submit'] {
  text-align: center;
  background: #eee;
  border: 2px solid #f70e0e;
  padding: 10px 20px;
  color: #4a4732;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 90%;
  width: auto; }

.writeToUs form input[type='submit']:hover {
  background: #ddd; }

/*# sourceMappingURL=stylesheet.css.map */
