/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 8:54:35 PM
    Author     : fknsa
*/

.mainNav{
    width: 100%;
    font-size: 75%;
    min-height: 80px;
    background-color: white;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 35px 0 0 0;
    text-align: center;

    @media all and (max-width: 959px){
        padding: 20px 0;
    }

    .logo{
        width: 100%;
        top: 0px;
        background: url(../img/logo.png) no-repeat center;
        background-clip: scroll;
        height: 62px;

        @media all and (max-width: 959px){
            background: url(../img/logo.png) no-repeat center;
            top: 0;
            position: relative;
            width: 100%;
        }

        @media all and (max-width: 320px){
            background: url(../img/logomobilemini.png) no-repeat center;
            top: 0;
            position: relative;
            width: 100%;
        }
    }

    ul{
        @media all and (max-width: 959px){
            display: none;
        }

        margin-top: 25px;
        list-style: none;
        display: inline-block;

        .active:after{
            content: "";
            position: absolute;
            top: 75%;
            left: 0;
            width: 100%;
            opacity: 1;
            border-bottom: 3.5px solid $body_top_border;
        }

        li:after{
            content: "";
            position: absolute;
            top: 75%;
            left: 40%;
            opacity: 0;
            width: 20%;
            border-bottom: 3.5px solid $body_top_border;

            -webkit-transition: all 0.7s;
            -moz-transition:    all 0.7s;
            -ms-transition: all 0.7s;
            -o-transition:  all 0.7s;
            transition: all 0.7s;
        }

        li:hover:after{
            opacity: 1;
            left: 0;
            width: 100%;
        }

        li{
            position: relative;
            float: left;
            margin: 0 15px;
            min-height: 35px;

            a{
                color: $menu_black;
                text-decoration: none;
                line-height: 28px;
                &:hover{
                    color: $body_top_border !important; 
                }

                img{
                    margin-right: 5px;
                    width: 17px;
                    height: auto;
                }
            }
            
            .dropDownMenu{
                z-index: 99;
                display: none;
                position:absolute;
                top:100%;
                left:0;
                margin: 0;
                padding: 0;
                border: 1px solid $dark_gray;
                background: white;

                li:hover:after{
                    display: none;
                }

                li{
                    min-width: 275px;
                    padding: 0;
                    margin: 0;
                    text-align: left;

                    a{
                        position: relative;
                        padding: 12px 25px;
                        line-height: 100%;
                        display: block;
                        left: 0;
                        transition: all 0.5s;
                    }

                    &:hover{
                        background: darken($light_gray , 3%);

                        a{
                            left: 5px;
                            color: $body_top_border;
                        }
                    }
                }

            }

            &:hover > .dropDownMenu{
                display: block;
            }
        }
    }

    .langMenu{
        float: right;

        ul{
            margin: 5px 0;

            li{
                margin-left: 0;

                &:first-child:after{
                    content: "|";
                    color: $menu_black;
                    position: relative;
                    top:0;
                    left: 5px;
                    font-size: 110%;
                }

                &:nth-child(2):after{
                    content: "|";
                    color: $menu_black;
                    position: relative;
                    top:0;
                    left: 5px;
                    font-size: 110%;
                }

                a{
                    font-weight: 700;
                    font-size: 110%;
                    color: $menu_black;

                    &:hover{
                        color: lighten($menu_black, 30%);
                    }
                }
            }
        }
    }


}

.mobileMenuButton{
    position:fixed;
    display: none;
    z-index: 99;
    background: $body_top_border;
    border: none;
    padding: 10px 15px;
    color: $white;
    font-weight: 600;
    top:110px;
    right: 15px;


    &:hover{
        background: darken( $body_top_border , 15%);
    }

    i{
        font-weight: normal;
        font-size: 100%;
        margin-right: 5px;
    }


    @media all and (max-width: 959px){
        display: block;
    }
}

.mobileNav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    right: 120px;

    font-size: 75%;
    min-height: 80px;
    background-color: $white;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: left;

    overflow-x: hidden;
    overflow-y: scroll;

    ul{
        padding: 0;
        margin:0;
        li{
            position:relative;
            a{
                color: $menu_black;
                text-decoration: none;
                display: block;
                position:relative;
                line-height: 350%;
                padding: 0 25px;

                &:hover{
                    background: darken($light_gray , 3%);
                }

                img{
                    width: 25px;
                    margin-right: 5px;
                }
            }

            .dropDownMenu{
                z-index: 99;
                display: none;
                position:relative;
                top:100%;
                left:0;
                margin: 0;
                padding: 0;

                li:hover:after{
                    display: none;
                }

                li{
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    width: auto;

                    a{
                        position: relative;
                        padding: 12px 50px;
                        line-height: 100%;
                        display: block;
                        left: 0;
                        transition: all 0.5s;
                    }

                    &:hover{
                        background: darken($light_gray , 3%);

                        a{
                            left: 5px;
                            color: lighten($menu_black, 30%); 
                        }
                    }


                }

            }

        }

    }

}





