/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 8:44:23 PM
    Author     : fknsa
*/
html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    border-top: 3px solid $body_top_border;
    font-size: 16px;
    background: white;
    font-family: 'Open Sans', sans-serif;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @media all and (max-width: 959px){
        ::-webkit-scrollbar 
        {
            width: 5px;
            height: 5px;
            background-color: $body_top_border;
        }

        ::-webkit-scrollbar-button:vertical:increment 
            {
            background: $body_top_border;
        }

        ::-webkit-scrollbar-button:vertical:decrement 
            {
            background: $menu_black;
        }
        ::-webkit-scrollbar-thumb
        {
            background: white;
            height:5px;
        }
    }
}

.website{
    overflow-x: none;;
    min-height: 100%;
    position: relative;
}

footer{
    position: absolute;
    width: 100%;
    margin-top: 80px;
}

.container{
    width: 960px;
    margin: 0 auto;
    @media all and (max-width: 959px){
        width: 100%;
    }
}

.row{
    width: 100%;
}

.clearFix{
    clear: both;
}

.mobile-3{
    float: left;
    width: 33%;

    @media all and (max-width: 959px){
        width: 100%;
    }
}

.mobile-2{
    width: 50%;
    box-sizing: border-box;

    @media all and (max-width: 959px){
        width: 100%;
    }
}