/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.Tem.2016, 20:20:49
    Author     : fknsa
*/

$body_top_border: #f70e0e;

$white: #ffffff;

$menu_black: #4a4732;

$menu_black_lighter: #948c8c;

$light_gray: #fafafa;

$footer_bg: #222222;

$dark_gray: #f5f0f0;